<!-- Statistics? -->
<div class="bg-stone-800 w-full min-h-28 mt-20 relative">
    <div class="flex justify-between mx-20">
        <div class="text-white text-center my-10 w-1/2">
            <p>WITH OVER</p>
            <p class="text-3xl my-3 font-bold">101000</p>
            <p>CREATIVES ACROSS BICOL REGION</p>
        </div>
        <div class="text-white text-center my-10 w-1/2">
            <p>LISTED PRODUCTS AND SERVICES</p>
            <p class="text-3xl my-3 font-bold">1502</p>
        </div>
    </div>  
</div>
<!-- Carousel Logos -->
<div class="bg-orange-500 w-full min-h-28 relative">
    <div class="flex justify-between mx-20">
        <div class="text-white text-center my-10 w-full">
            <p>carousel logos lol</p>
        </div>
        
    </div>  
</div> 
<!-- Footers -->
<div class="bg-stone-800 w-full min-h-28 relative">
    <div class="flex justify-between mx-20">
        <div class="text-white text-center my-10 w-1/2 items-center">
            <p>Stay in the loop with the latest new, special offers, and insider insights.</p>
            <div class="flex my-5 items-center justify-center w-full">
                <img src="/assets/icons/mail-w.svg">
                <input class="mx-auto ml-2 focus:outline-none border-b-2 border-b-white bg-transparent" type="text" placeholder="Sign up your email" required>
            </div>
        </div>
        <div class="my-10 w-1/2">
            <img src="assets/images/Creative Legazpi_LogoOutline-w.png" class="min-h-20 h-20 mx-auto">
        </div>
    </div>  
</div>

<!-- Bottommost Footer -->
<div class="bg-orange-200 w-full min-h-28 relative">
    <div class="flex justify-between mx-20">
        <div class="text-black text-center my-10 w-1/2">
            <p>socmed stuff</p>
        </div>
        <div class="text-black my-10 w-1/2">
            <p>All rights reserved.</p>
        </div>
    </div>  
</div>
