<div class="bg-orange-200 rounded-bl-lg w-auto h-14 ml-10 z-10 relative">
    <div class="text-black text-center flex justify-between">
        <div class="logo-wrapper ml-5">
            <img src="assets/Creative Legazpi_Logo.png" alt="Creative Legazpi" class="h-10 min-h-10 mt-2"> 
        </div>
        <div class="font-sans font-semibold mt-3">
            <a href="#" class="mx-5">HOME</a>
            <a href="#" class="mx-5">DIRECTORY</a>
            <a href="#" class="mx-5">GALLERY</a>
            <a href="#" class="mx-5">FAQ</a>
            <a href="#" class="mx-5">LOG IN</a>
            <a href="#" class="mx-5 bg-green-300 rounded-xl px-5 py-1 m-1">Join Mukna</a>
        </div>
    </div>
</div>

