<div class="z-10">
    <div class="mt-20 mb-5">
        <p class="text-white text-center font-sans font-extrabold tracking-wider text-6xl">BE ONE OF US</p>
    </div>
    <div class="bg-white w-auto h-auto ml-36 mr-36 rounded-xl justify-between">
        <div class="flex mx-5">
            <div class="my-10 h-auto w-1/2 mx-5">
                <img src="assets/images/image 1.svg" alt="Login image" class="">
            </div>
            <div class="my-10 w-10/12 mx-5">

                <div class="mb-10">
                    <img src="/assets/Creative Legazpi_Logo.png" class="h-1/8 w-1/4 mx-auto">
                </div>
                
                <div class="w-full">
                    <p class="text-3xl font-semibold mr-3 my-3 w-full">LOG IN</p>
                    
                    <div class="my-7">
                        <p>Email Address</p>
                        <div class="flex my-5">
                            <img src="/assets/icons/mail.svg">
                            <input class="w-full ml-2 focus:outline-none border-b-2 border-b-black" type="text" placeholder="" required>
                        </div>
                    </div>
                    <div class="my-7">
                        <p>Password</p>
                        <div class="flex my-5">
                            <img src="assets/icons/Key.svg">
                            <input class="w-full ml-2 focus:outline-none border-b-2 border-b-black" type="password" placeholder="" required>
                        </div>
                    </div>
                    
                    <div class="mt-20 mx-20 text-center">
                        <button class="border border-black font-bold text-2xl w-full py-5">LOG IN</button>
                    </div>

                    <div class="text-center mt-5">
                        <!-- Link to register Page -->
                        <p class="font-semibold">Not yet registered?</p>
                        <a class="font-extrabold" href="#">SIGN UP</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
